body {
	background-color: #f5f5f5;
	color: #e6e6e6;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

h1,
h2 {
	color: #2273dd;
	text-align: center;
}

.icons {
	height: 25px;
	width: 25px;
	margin: 5px;
}

.header-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e6e6e6;
	padding: 10px 20px;
	margin-bottom: 20px;
}

.profile-container {
	position: relative;
	display: inline-block;
}

.profile-icon {
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.profile-img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	top: 50px;
	background-color: #ffffff;
	min-width: 150px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 5px;
	overflow: hidden;
}

.dropdown-content a {
	color: #2273dd;
	padding: 10px 15px;
	text-decoration: none;
	display: block;
	font-size: 14px;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.show {
	display: block;
}

#logout,
#change-password {
	color: white;
}

.buttoncontainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons {
	display: flex;
	justify-content: center;
}

button {
	background-color: #2273dd;
	border: none;
	color: #ffffff;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 10px;
	text-decoration: none;
}

.dashboard-button {
	margin-right: 50px;
	height: 45px;
	width: 130px;
	font-size: 18px;
}
.summary {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.summary-item {
	background-color: #e0e0e0;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	flex: 1;
	margin: 0 10px;
}

.summary-title {
	margin-bottom: 10px;
	font-size: 1.2em;
	color: #000000;
}

.summary-value {
	font-size: 2.5em;
	color: #2273dd;
}

.charts {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

/* #expenses-by-group {
	width: 100%;
	justify-content: center;
} */

.bottomcharts {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	width: 80%;
}

.chart {
	background-color: #e6e6e6;
	padding: 20px;
	border-radius: 10px;
	position: relative;

	margin-bottom: 20px;
}
